certifi==2025.4.26
kaleido==0.2.1
narwhals==1.36.0
numpy==2.2.5
opencv-python==4.11.0.86
packaging==25.0
plotly==6.0.1
pyproj==3.7.1
python-xmp-toolkit==2.0.2
pytz==2025.2
scipy==1.15.2
setuptools==79.0.1
